@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Montserrat', sans-serif;
}


html {
   scroll-behavior: smooth;
}
/* 
.parent-grid-container {
   height: 100vh;
   display: grid;
   grid-template-areas: "header header header header header header"
      "menu main main main right-sidebar right-sidebar"
      "menu footer footer footer footer footer";

   gap: 10px;
   padding: 10px;
   text-align: center;
}

.header {
   grid-area: header;
   background-color: red;
}

.main {
   grid-area: main;
   background-color: green;
}

.right-sidebar {
   grid-area: right-sidebar;
   background-color: blue;
}

.menu {
   grid-area: menu;
   background-color: yellow;
}

.footer {
   grid-area: footer;
   background-color: violet;
} */

/* !---------------------- */
.img-gallery {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
   gap: 20px;
}